# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

exec config/secrets.cfg

## You SHOULD change the following:
sv_hostname "Unconfigured FXServer"
sv_lan 1
sv_maxclients 10
sets sv_projectName "Unconfigured FXServer"
sets sv_projectDesc ""
sets tags ""
sets locale "root-AQ"
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"
#load_server_icon myLogo.png


## You CAN change the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_enforceGameBuild 3570
set resources_useSystemChat true


## Recommended settings
set onesync on
sv_scriptHookAllowed 0
sv_endpointPrivacy true
sv_authMaxVariance 5
sv_authMinTrust 1
sv_requestParanoia 3
sv_filterRequestControl 2
sv_enableNetworkedSounds false
sv_enableNetworkedPhoneExplosions false
sv_enableNetworkedScriptEntityStates false


## Replicated convars
setr game_enableFlyThroughWindscreen true
setr game_enablePlayerJumpRagdollControl true
setr game_enablePlayerRagdollOnCollision true


## Config files
exec config/acl.cfg
exec config/resources.cfg
